.aboutme {
  min-height: 100vh;
  padding: 30px 0;
  h1 {
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 100px;
  }
  .content {
    display: flex;
    .images {
      flex: 1 1 35rem;
      text-align: center;
      img {
        width: 250px;
        border-radius: 15px 30px;
      }
    }
    .info {
      flex: 1 1 45rem;
      p {
        font-size: 15px;
        margin-top: 20px;
        font-weight: 500;
        line-height: 1.7;
      }
      a:hover {
        text-decoration: underline;
        color: blue;
      }
    }
  }
}
