.education {
  padding: 30px 0;
  background: white;
  min-height: 80vh;
  text-align: center;
  h1 {
    font-size: 35px;
  }
  h4 {
    font-weight: 500;
  }
  h5 {
    font-weight: 500;
    font-size: 14px;
  }
  img {
    margin-top: 30px;
    max-width: 100%;
  }
}
