.skills {
  min-height: 90vh;
  background: linear-gradient(to bottom, #57059e, #4a00e0);
  padding: 30px 0;
  h1 {
    text-align: center;
    color: white;
    font-size: 35px;
    margin-bottom: 35px;
  }
  .grid {
    background: rgba(0, 0, 22, 0.4);
    color: #fff;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    flex-wrap: wrap;
    gap: 1.8rem;

    @media (max-width: 900px) {
      grid-template-columns: repeat(4, 1fr);
      margin: 10px;
      padding: 10px;
      gap: 1rem;
    }

    @media (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
      margin: 10px;
      padding: 10px;
      gap: 1rem;
    }
    .item {
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      background: rgba(0, 0, 22, 0.9);
      padding: 20px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: 0.2s;
      &:hover {
        box-shadow: 0 8px 10px rgba(0, 2, 68, 0.8) !important;
        background-color: rgba(0, 0, 0, 0.9) !important;
      }
      .images {
        min-width: 48px;
        min-height: 48px;
        margin-bottom: 10px;

        img {
          width: 48px;
        }
      }
    }
  }
}
